.content {
  min-height: calc(100vh - 120px); /* Replace 100px with the height of your footer */
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-header {
  flex: 0 0 auto; /* This ensures that the header does not shrink or grow */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto; /* This allows the content to shrink and grow as necessary */
  width: 100%;
}

.google-map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
}

.location-description {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
}

.text-success {
  margin-bottom: 5px;
  color: green;
}

.contact-card {
  max-width: 500px;
  width: 100%;
  border-radius: 15px;
}

custom-icon-color {
  color: red; /* replace with any color you want */
}

.custom-text-color {
  color: blue; /* replace with any color you want */
}

@media (min-width: 1024px) {
  .content {
    flex-direction: row;
    justify-content: center;
    align-items: center; /* Center the children vertically */
  }

  .google-map-container {
    width: 50%;
  }

  .container {
    width: 50%;
  }
}
