.container {
  display: flex;
  justify-content: center;
}

.shop-form-field {
  width: 100%;
}

.radio-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tooltip-button {
  position: relative;
}

.tooltip-image {
  position: relative;
  top: 100%; /* position below the button */
  left: 50%; /* center align */
  transform: translateX(-50%); /* center align */
  z-index: 1; /* make it appear on top of other elements */
  margin-top: 5px;
  margin-bottom: 5px;
}

.tooltip-button:hover .tooltip-image {
  display: block; /* show the tooltip on hover */
}


.radio-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.radio-option img{
  margin-bottom: 10px;
  margin-top: 5px;
}

button {
  grid-column: span 2;  /* span the button across two columns */
  justify-self: center;
}
