<app-header></app-header>

<div class="container">
  <header class="center">
    <mat-card>
      <mat-card-title>Divine Departures: Honouring the Journey Beyond Life</mat-card-title>
      <mat-card-subtitle>Crafting Dignified and Personalized Farewells, Ensuring Your Loved Ones Depart with the Divine</mat-card-subtitle>
    </mat-card>
  </header>

  <section id="services" class="services-section">
    <h2 class="section-title">Our Services</h2>
    <div class="services-list">
      <mat-card class="service-item">
        <mat-card-header>
          <mat-card-title>Grave Maintenance</mat-card-title>
        </mat-card-header>
        <mat-card-content>Ensuring the final resting place is neat and tidy.</mat-card-content>
      </mat-card>
      <mat-card class="service-item">
        <mat-card-header>
          <mat-card-title>Memorial Services</mat-card-title>
        </mat-card-header>
        <mat-card-content>Celebrating and remembering the life lived.</mat-card-content>
      </mat-card>
      <mat-card class="service-item">
        <mat-card-header>
          <mat-card-title>Grave Decoration</mat-card-title>
        </mat-card-header>
        <mat-card-content>A Beautiful Memory, A Beautiful Rest.</mat-card-content>
      </mat-card>
      <mat-card class="service-item">
        <mat-card-header>
          <mat-card-title>Custom Tombstones</mat-card-title>
        </mat-card-header>
        <mat-card-content>An enduring tribute to your loved one.</mat-card-content>
      </mat-card>
    </div>
    <div class="button-container">
      <button mat-raised-button color="primary" [routerLink]="['/services']">Learn More About Our Services</button>
    </div>
  </section>

  <section id="contact" class="contact-section">
    <h2 class="section-title">Get In Touch</h2>
    <p class="contact-description">During these challenging times, we're here to help...</p>
    <div class="button-container">
      <button mat-raised-button color="primary" [routerLink]="['/contact-us']">Contact Us</button>
    </div>
  </section>
</div>

