<app-header></app-header>

<div class="container">
  <header>
    <h1 class="center">Divine Departures: Honouring the Journey Beyond Life</h1>
    <h2 class="center">Crafting Dignified and Personalized Farewells, Ensuring Your Loved Ones Depart with the Divine</h2>
  </header>

  <!-- <section id="about">
    <h2>About Us</h2>
    <p>Welcome to Divine Departures...</p>
  </section> -->

  <section id="services">
    <h2>Our Services</h2>
    <ul>
      <li>
        <h3>Grave Maintenance</h3>
        <p>Ensuring the final resting place is neat and tidy.</p>
      </li>
      <li>
        <h3>Memorial Services</h3>
        <p>Celebrating and remembering the life lived.</p>
      </li>
      <li>
        <h3>Grave Decoration</h3>
        <p>A Beautiful Memory, A Beautiful Rest.</p>
      </li>
      <li>
        <h3>Custom Tombstones</h3>
        <p>An enduring tribute to your loved one.</p>
      </li>
    </ul>
    <button mat-raised-button [routerLink]="['/services']">Learn More About Our Services</button>
  </section>

  <!--
    <section id="testimonials">
    <h2>Testimonials</h2>
    Replace with your actual testimonials
    <div *ngFor="let testimonial of testimonials">
      <p>{{testimonial}}</p>
    </div>
  </section>
  -->

  <section id="contact" style="margin-top: 10px;">
    <h2>Get In Touch</h2>
    <p>During these challenging times, we're here to help...</p>
    <button mat-raised-button [routerLink]="['/contact-us']">Contact Us</button>
  </section>
</div>
