<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <img src="/assets/images/icons/logo2.png" alt="Your Company Name" class="logo">
    </div>
    <div class="social-links">
      <a href="https://www.facebook.com" target="_blank"><img src="/assets/images/icons/facebook-logo.png" alt="Facebook" class="social-logo"></a>
      <a href="https://twitter.com" target="_blank"><img src="assets/images/icons/twitter-logo.png" alt="Twitter" class="social-logo"></a>
      <a href="https://www.instagram.com" target="_blank"><img src="assets/images/icons/instagram-logo.png" alt="Instagram" class="social-logo"></a>
      <a href="https://www.whatsapp.com/" target="_blank"><img src="assets/images/icons/whatsapp-logo.png" alt="WhatsApp" class="social-logo"></a>
    </div>
  </div>
</footer>

