<div class="top-header">
  <mat-toolbar color="primary">
    <a id="app-name" routerLink="/home" style="color: inherit; text-decoration: none;">
      <img src="assets\images\divine-departures-low-resolution-logo-color-on-transparent-background.png" alt="logo.png"
        width="280px" height="40px">
    </a>

    <div class="center-nav-links">
      <a *ngIf="!isLoggedIn" mat-button routerLink="/login" class="nav-link">
        Login
      </a>
      <a *ngIf="!isLoggedIn" mat-button routerLink="/register" class="nav-link">
        Sign up
      </a>

      <a mat-button routerLink="/shop" class="nav-link">
        Order Online
      </a>
      <!-- Services dropdown menu -->
      <button mat-button [matMenuTriggerFor]="servicesMenu" class="nav-link">
        Services
      </button>
      <mat-menu #servicesMenu="matMenu">
        <button mat-menu-item routerLink="/repair">Repair</button>
        <button mat-menu-item routerLink="/replacement">Replacement</button>
        <button mat-menu-item routerLink="/maintenance">Maintenance</button>
      </mat-menu>
      <a mat-button routerLink="/cart" class="nav-link">
        Cart
      </a>
      <a mat-button routerLink="/contact-us" class="nav-link">
        Contact Us
      </a>
    </div>
    <span class="example-spacer"></span>
    <!-- Show user icon when user is logged in -->
    <mat-icon *ngIf="isLoggedIn" (click)="goToUserPage()">account_circle</mat-icon>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
      [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="!isLoggedIn" routerLink="/login">Login</button>
        <button mat-menu-item *ngIf="!isLoggedIn" routerLink="/register">Sign up</button>
        <button mat-menu-item routerLink="/shop">Order Online</button>
        <button mat-menu-item routerLink="/services">Services</button>
        <button mat-menu-item routerLink="/cart">Cart</button>
        <button mat-menu-item routerLink="/contact-us">Contact Us</button>
        <button mat-menu-item *ngIf="isLoggedIn" (click)="logout()">Logout</button>
      </mat-menu>
    </button>

  </mat-toolbar>
</div>
