<app-header></app-header>

<div class="center-card">
  <mat-card class="card-style">
    <mat-card-header>
      <mat-card-title style="margin-bottom: 10px;">Create an account</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <!-- Full Name Input -->
        <mat-form-field class="field-style" appearance="fill">
          <mat-label>Full Name</mat-label>
          <input matInput type="text" placeholder="Enter full name" formControlName="fullName">
          <mat-error *ngIf="submitted && registerForm.get('fullName')?.hasError('minlength')">
            Min 2 characters long.
          </mat-error>
          <mat-error *ngIf="submitted && registerForm.get('fullName')?.hasError('required')">
            Required field
          </mat-error>
        </mat-form-field>

        <!-- Email Input -->
        <mat-form-field class="field-style" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Enter email" formControlName="email">
          <mat-error *ngIf="submitted && registerForm.get('email')?.hasError('email')">
            Email must be in a valid format e.g example@example.com
          </mat-error>
          <mat-error *ngIf="submitted && registerForm.get('email')?.hasError('required')">
            Required field
          </mat-error>
        </mat-form-field>

        <!-- Phone Number Input -->
        <mat-form-field class="field-style" appearance="fill">
          <mat-label>Phone Number</mat-label>
          <input matInput type="text" placeholder="Enter Phone Number" formControlName="phoneNumber">
          <mat-error *ngIf="submitted && registerForm.get('phoneNumber')?.hasError('minlength')">
            Min 4 characters long.
          </mat-error>
          <mat-error *ngIf="submitted && registerForm.get('phoneNumber')?.hasError('required')">
            Required field
          </mat-error>
        </mat-form-field>

        <!-- Role Input -->
        <mat-form-field class="field-style" appearance="fill">
          <mat-label>Role</mat-label>
          <mat-select matInput id="role" formControlName="role" required>
            <mat-option value="USER">USER</mat-option>
            <mat-option value="ADMIN">ADMIN</mat-option>
          </mat-select>
          <mat-error *ngIf="submitted && registerForm.get('role')?.hasError('required')">
            Required field
          </mat-error>
        </mat-form-field>

        <!-- Password Input -->
        <mat-form-field class="field-style" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput [type]="registerForm.get('hidePassword')?.value ? 'text' : 'password'"
            placeholder="Enter password" formControlName="password">
          <mat-hint>Password must contain at least 8 characters, 1 uppercase, 1 numeric and 1 special
            character</mat-hint>
          <mat-error *ngIf="submitted && registerForm.get('password')?.errors?.['passwordStrength']">
            <ng-container
              *ngIf="registerForm.get('password')?.errors?.['passwordStrength']?.hasMinLength; else minLengthError">Min
              length 8 not met.</ng-container>
            <ng-template #minLengthError>
              <ng-container
                *ngIf="registerForm.get('password')?.errors?.['passwordStrength']?.hasUpperCase; else upperCaseError">No
                uppercase letter.</ng-container>
              <ng-template #upperCaseError>
                <ng-container
                  *ngIf="registerForm.get('password')?.errors?.['passwordStrength']?.hasNumeric; else numericError">No
                  numeric digit.</ng-container>
                <ng-template #numericError>
                  <ng-container
                    *ngIf="registerForm.get('password')?.errors?.['passwordStrength']?.hasSpecialChar; else specialCharError">No
                    special character.</ng-container>
                  <ng-template #specialCharError>Password requirement not met.</ng-template>
                </ng-template>
              </ng-template>
            </ng-template>
          </mat-error>
        </mat-form-field>


        <!-- Confirm Password Input -->
        <mat-form-field class="field-style" appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input matInput [type]="registerForm.get('hidePassword')?.value ? 'text' : 'password'"
            placeholder="Re-enter password" formControlName="confirmPassword">
          <mat-error *ngIf="submitted && registerForm.get('confirmPassword')?.hasError('required')">
            Required field
          </mat-error>
          <mat-error *ngIf="submitted && registerForm.hasError('passwordMatchError')">
            Password mismatch
          </mat-error>
        </mat-form-field>

        <mat-checkbox formControlName="hidePassword">Show Password</mat-checkbox>
        <div style="float: right;">

          <button mat-raised-button color="primary" type="submit">Submit</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>

<!-- <h1> Register Page </h1>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="fullName">First Name:</label><br>
    <input type="text" name="fullName" placeholder="Enter first name" formControlName="fullName"><br>
    <div *ngIf="submitted">
      <small style="color: crimson" *ngIf="registerForm.get('fullName')?.hasError('minlength')">Min 2 characters long.</small>
      <small style="color: crimson" *ngIf="registerForm.get('fullName')?.hasError('required')">Required field</small>
    </div>
  </div>
  <br>
  <div>
    <label for="phoneNumber">Phone Number:</label><br>
    <input type="text" name="phoneNumber" formControlName="phoneNumber"><br>
    <div *ngIf="submitted">
      <small style="color: crimson" *ngIf="registerForm.get('phoneNumber')?.hasError('minlength')">Min 2 characters long.</small>
      <small style="color: crimson" *ngIf="registerForm.get('phoneNumber')?.hasError('required')">Required field</small>
    </div>
  </div>
  <br>
  <div>
    <label for="email">Email:</label><br>
    <input type="email" name="email" formControlName="email"><br>
    <div *ngIf="submitted">
      <small style="color: crimson" *ngIf="registerForm.get('email')?.hasError('email')">Email must be in a valid format e.g
        example@example.com</small>
      <small style="color: crimson" *ngIf="registerForm.get('email')?.hasError('required')">Required field</small>
    </div>
  </div>
  <br>
  <div>
    <label for="password">Password:</label><br>
    <input [type]="registerForm.get('hidePassword')?.value ? 'text' : 'password'" name="password"
      formControlName="password"><br>
    <div *ngIf="submitted && registerForm.get('password')?.errors?.['passwordStrength']">
      <small style="color: crimson"
        *ngIf="!(registerForm.get('password')?.errors?.['passwordStrength']?.hasUpperCase)">Password must contain an
        uppercase letter<br></small>
      <small style="color: crimson"
        *ngIf="!(registerForm.get('password')?.errors?.['passwordStrength']?.hasLowerCase)">Password must contain a
        lowercase letter<br></small>
      <small style="color: crimson"
        *ngIf="!(registerForm.get('password')?.errors?.['passwordStrength']?.hasNumeric)">Password must contain a
        number<br></small>
      <small style="color: crimson"
        *ngIf="!(registerForm.get('password')?.errors?.['passwordStrength']?.hasSpecialChar)">Password must contain a
        special character<br></small>
      <small style="color: crimson"
        *ngIf="!(registerForm.get('password')?.errors?.['passwordStrength']?.hasMinLength)">Password must be at least 8
        characters<br></small>
      <div *ngIf="registerForm.get('password')?.hasError('required')">
        <small style="color: crimson">Password is required</small>
      </div>
    </div>
  </div>
  <br>
  <div>
    <label for="confirmPassword">Confirm password:</label><br>
    <input [type]="registerForm.get('hidePassword')?.value ? 'text' : 'password'" name="confirmPassword"
      placeholder="Re-enter password" formControlName="confirmPassword"><br>
    <div *ngIf="submitted">
      <small style="color: crimson" *ngIf="registerForm.get('confirmPassword')?.hasError('required')">Required field<br></small>
      <small style="color: crimson" *ngIf="registerForm.hasError('passwordMatchError')">Password mismatch</small>
    </div>
  </div>
  <br>
  <div>
    <input type="checkbox" formControlName="hidePassword"> Show Password
  </div>
  <br>
  <div>
    <button type="submit">Submit</button>
  </div>

</form> -->
