<app-header></app-header>

<div class="center-card">
  <mat-card class="card-style">
    <mat-card-header>
      <mat-card-title style="margin-bottom: 10px;">Login Page</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <mat-error *ngIf="errorMessage">
          {{ errorMessage }}
        </mat-error>
        <mat-form-field class="field-style" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email">
          <mat-error *ngIf="submitted && loginForm.get('email')?.hasError('required')">
            Required field
          </mat-error>
          <mat-error *ngIf="submitted && loginForm.get('email')?.hasError('email')">
            Email must be in a valid format e.g example@example.com
          </mat-error>
        </mat-form-field>

        <mat-form-field class="field-style" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password"
            required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="submitted && loginForm.get('password')?.hasError('required')">
            Please enter your password
          </mat-error>
        </mat-form-field>
        <div style="text-align: center; margin-top: 20px;">
          <p>Don't have an account with us? <a routerLink="/register">Sign up now</a></p>
        </div>
        <div style="float: right;">
          <button mat-raised-button color="primary" type="submit">Login</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
