<app-header></app-header>

<div class="services-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Services</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Here at Divine Departures, we provide three types of grave services:</p>
      <mat-list>
        <a mat-list-item routerLink="/repair" class="service-list-item">
          <span>Grave Repair</span>
          <mat-icon>arrow_forward</mat-icon>
        </a>
        <a mat-list-item routerLink="/replacement" class="service-list-item">
          <span>Grave Parts Replacement</span>
          <mat-icon>arrow_forward</mat-icon>
        </a>
        <a mat-list-item routerLink="/maintenance" class="service-list-item">
          <span>Grave Maintenance</span>
          <mat-icon>arrow_forward</mat-icon>
        </a>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
